:root {
    font-size: 16px;
    --snake-color: #a0c432;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#game_container {
    width: 90vmin; 
    height: 90vmin;
    background: grey;
    display: grid;
    grid-template: repeat(128, 1fr) / repeat(128, 1fr);
}

#apple {
    background: red;
    border: 1px solid black;
}

.node {
    background: black;
}
