:root {
    font-size: 1vmin;

    /*
    Handled in JS
    --snake-color
    --bg-wrapper
    --bg-ui
    --bg-overlay
    --bg-overlay-hover
    */

    --text-color: white;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* From: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
div {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* UI */

#ui_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    -webkit-box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
}

#ui_container {
    width: 90vmin;
    padding: 1vmin 2.5vmin;
    background: var(--bg-ui);
    display: flex;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#menu_button {
    margin-left: auto;
}
#menu_button svg {
    width: 3vmin;
    height: 3vmin;
    scale: 1.25;
    fill: var(--text-color);
}
#menu_button:hover {
    filter: brightness(0.75);
}

.score_container {
    font-size: 2.3vmin;
    color: var(--text-color);
    margin: auto 0;
}

#game_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vmin;
    width: 90vmin;
    background: var(--bg-wrapper);
    position: relative;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#overlay_container {
    display: grid;
    grid-template: 4fr 0.75fr / 2fr 0.75fr;
    position: fixed;
    width: 35vmin;
    height: 50vmin;
    z-index: 2;
}
.settings_button {
    grid-area: 2 / 2 / 3 / 3;    
    color: var(--text-color);
}
.settings_button:hover {
    filter: brightness(0.75);
}
.settings_svg {
    width: 5vmin;
    height: 5vmin;
    fill: var(--text-color)
}

.overlay_button {
    width: 90%;
    margin: 0 auto;
    background: var(--bg-overlay);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
    color: var(--text-color);
    -webkit-box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2), 0 0.3rem 1rem 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2), 0 0.3rem 1rem 0 rgba(0, 0, 0, 0.19);
}
.overlay_button:hover {
    background: var(--bg-overlay-hover);
}

#play_button {
    grid-area: 2 / 1 / 3 / 2; 
}
#play_button svg {
    width: 3vmin;
    fill: var(--text-color);
    margin-right: 5%;
}

.overlay_box {
    grid-area: 1 / 1 / 2 / 3;
    width: 90%;
    height: 90%;
    margin: 7.5% auto;
    border-radius: 1rem;
    background-color: var(--bg-overlay);
    -webkit-box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
}

.settings_wrapper {
    display: none;
}
.settings_wrapper h1 {
    margin: 0.5rem;
    font-size: 3.5vmin
}
.settings_h2 {
    font-size: 2vmin;
    font-style: italic;
}
.settings {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 90%;
}
.settings_block {
    height: 100%;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.settings_list {
    margin-top: 1.2rem;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.settings_list li {
    font-size: 1.3rem;
    border: solid 0.1rem var(--text-color);
    padding: 0.4rem;
    border-radius: 0.5rem;
    filter: grayscale(1) brightness(0.75);
}
.settings_list li:hover {
    transform: scale(1.15);
}
.settings_list .selected {
    filter: none;
    transform: scale(1.15);
}

.overlay_score_wrapper {
    background-image: url("../images/snake.png"); 
    background-repeat: repeat-x;
    background-size: contain;
    display: flex;
    justify-content: center;
    padding-top: 60%;
}

.overlay_score, .overlay_highscore {
    font-size: 2.8vmin;
    color: var(--text-color);
    margin: 0.5vmin 0;
}

/* Game */

.game_background {
    --blocks: 24;
    background-size: calc(100% / (var(--blocks) * 0.5));
    filter: brightness(0.5); 
}

#game_container {
    width: 85vmin; 
    height: 85vmin;
    display: grid;
}

#apple {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
#apple .applesvg {
    width: 85%;
    height: 85%;
    transform: scale(1.1);
}
#apple .mousesvg {
    width: 100%;
    height: 100%;
    position: relative;
    top: -10%;
    transform: scale(1.1);
}

@keyframes applesize {
    0% {
    }
    50% {
        transform: scale(1.3);
    }
}

.node {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 50ms ease;
    display: none;
    border-radius: 20%;
}
.node:last-child {
    padding: 0 5%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.node-bg {
    width: 95%;
    height: 100%;
    background: var(--snake-color);
    border-radius: inherit;
    -webkit-box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
}

#head {
    background: none;
    overflow: visible;
    z-index: 1;
    -webkit-box-shadow: 0 0.75rem 1.2rem -0.75rem rgba(0,0,0,0.5), 0 0.75rem 2.6rem 0.2rem rgba(0,0,0,0);
    box-shadow: 0 0.75rem 1.2rem -0.75rem rgba(0,0,0,0.5), 0 0.75rem 2.6rem 0.2rem rgba(0,0,0,0);
}

#head svg {
    position: absolute;
    width: 160%;
    height: 160%;
    rotate: 180deg;
    overflow: visible;
    bottom: -15%;
}
#head svg .headcolor {
    fill: var(--snake-color);
}

