:root {
    font-size: 16px;
    --snake-color: #a0c432;
    --bg-color: linear-gradient(var(--bg-c2) 0%, var(--bg-c1) 100%);
    --bg-c1: #F78104;
    --bg-c2: #FAAB36;
    --end-color: white;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#ui_container {
    width: 90vmin;
}

#game_container {
    width: 90vmin; 
    height: 90vmin;
    background: var(--bg-color);
    display: grid;
    grid-template: repeat(193, 1fr) / repeat(193, 1fr); /* MATRIX_SIZE + 1 */
}

#gameover {
    color: var(--end-color);
    font-size: 10vmin;
    position: fixed;
    align-self: center;
    justify-self: center;
    text-align: center;
    display: none;
    z-index: 2;
}

#apple {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
#apple svg {
    width: 75%;
    height: 75%;
}

.node {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 25ms ease;
    display: none;
    border-radius: 20%;
}
.node:last-child {
    padding: 0 5%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.node-bg {
    width: 95%;
    height: 100%;
    background: var(--snake-color);
    border-radius: inherit;
}

#head {
    background: none;
    overflow: visible;
    z-index: 1;
    transition: all 75ms ease;
}

#head svg {
    position: absolute;
    width: 160%;
    height: 160%;
    rotate: 180deg;
    overflow: visible;
    bottom: -15%;
}

